.appListWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  border: 1px solid black;
}

.appTitleWrapper {
  font-weight: bold;
  font-size: 16px;
}

.appList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.appList.horizontal {
  flex-direction: row;
}

.appList.vertical {
  flex-direction: column;
}

.appActionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  align-items: flex-end;
}
